.clear:after {
	content: "";
	clear: both;
	display: block;
}

body {
	margin: 0;
}

nav, #home, #about, #services, #projects, #contact, footer {
	padding: 30px;
	box-sizing: border-box;
}

nav {
	background: lightyellow;
	width: 300px;
	position: fixed;
	height: 100%;
	/* border: 1px solid black; */
}

main {
	background: lightgray;
	margin-left: 300px;
}

#home {
	height: 100vh; /*viewport height*/
	background: skyblue;
}

.box {
	border: 5px solid white;
	text-align: center;
	width: 40%; 
	padding: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#about {
	/*height: 100vh;*/
	background: indianred;
	min-height: 300px;
}

#services {
	color: white;
	/*height: 100vh;*/
	background: midnightblue;
	min-height: 300px;
}

#projects {
	/* height: 100vh; */
	background: crimson;
	min-height: 100px;
}

#contact {
	/* height: 100vh; */
	background: orange;
	min-height: 300px;
	box-sizing: content-box;	
}

footer {
	background: green;
	margin-left: 300px;
	text-align: center;
}

/* NAVIGATION *************** */

.nav__logo {
	width: 65%;
	height: 20%;
	box-sizing: content-box;
	border: 1px solid black;
	text-align: center;

	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img[alt*="photo"] {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	border: 1px solid black;
}

.nav__logo + p {
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
}

.nav__menu {
	width: 100%;
	margin: 20% 0 0 0;
	box-sizing: border-box;
	border: 1px solid black;
	text-align: center;

	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul {
	padding: 10%;
	text-align: center;
	line-height: 3em;
	list-style: none;
	text-decoration: none;
}
	
a:link {
	text-decoration: none;
}

li:hover {
	background: lightgray;
	border-radius: 5px;
}

li:focus {
	font-weight: 900;
}

.nav__websites {
	width: 100%;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;

	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
i {
	padding: 4%;
	color: royalblue;
}

.fab:hover {
	color: lightgray;
}
/* CONTACT*********************** */

.column {
	/*border: 1px solid black;*/
	box-sizing: border-box;
	width: 31%;
	margin-left: 1.16%;
	float: left;
	text-align: center;
}

img[alt*="service"] {
	/*border: 1px solid black;*/
	/*width: 60px;
	height: 60px;*/
	display: block;
	float: left;
	max-width: 100%;
	max-height: 100%;
}

img[alt*="service"] ~ p {
	overflow: hidden;
}

#services h3 {
	font-size: 0.8em;
}

.no-top-margin {
	margin-top: 0;
}


.left {
	width: 30%;
	float: left;
	margin: 0 9%;
	border: 1px solid black;
}

.right {
	width: 30%;
	float: left;
	margin: 0 9%;
	border: 1px solid black;
}

textarea, input {
	width: 100%;
	margin-bottom: 10px;
	padding: 2%;
	border: none;
	border-radius: 5px;
}

textarea {
	display: block;
}

.button {
	width: 105%;
	padding: 4% 2%;
	background-color: #09c;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}

.left i {
	margin: 10px;
}

/* PROJECTS****************** */

.projects__sample {
	width: 100%;
	border: 1px solid black;
}
.projects__sample > div {
	margin: 10px;
	padding: 0;
	width: 25%;
	border: 1px solid black;
	float: left;
	box-sizing: border-box;
}

.projects__sample img {
	margin: 0 auto;
	padding: 0;
	height: 43vh;
	width: 32vh;
	min-height: 100px;
	min-width: 80px;
	border-radius: 5px;
	border: 1px solid black;
}